# Dependencies
node_modules/
target/
.dart_tool/
.packages
build/

# Build artifacts & binaries
*.exe
*.apk
*.msi
*.deb
!PM_0.1.0_amd64.deb
!PM_Vault_Desktop_Portable.exe
!PM_Vault_Desktop_Setup.exe
!PM_Vault_Mobile.apk
*.AppImage
*.db
*.zip
*.rar
*.7z
*.tar.*
dist/
dist-linux/
desktop/dist/
desktop/src-tauri/target/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Environment files
.env
.env.local

# IDE & OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
